.clicked{
    border-color: #EAEEF5;
    cursor: pointer;
    text-align: left;
}

.clicked:hover{
    border-color: #664DE5
}

.clicked:active{
    border-color: #664DE5
}

@media screen and (max-width: 1228px){

    .selectionDiv{
        flex-wrap: wrap;
    }

    .clicked{
        min-width:200px;
    }
 }

@media screen and (max-width: 800px){

   .submitButton{
    min-width: 100%;
   }
}

.backButton {
    margin-top: 40px;
    margin-right: 20px;
  }
  
  .bg-white-twelve {
    padding: 45px 20px 15px !important;
}

@media (max-width: 476px) {
    .page_one .est-hrs .three-label {
        font-size: 10px !important;
        /* white-space: nowrap; */
    }
  }