.clicked {
  border-color: #EAEEF5;
  cursor: pointer;
  text-align: center;
}

.clicked:hover {
  border-color: #664DE5
}

.clicked:active {
  border-color: #664DE5
}

@media screen and (max-width: 1228px) {

  .selectionDiv {
    flex-wrap: wrap;
  }

  .clicked {
    min-width: 200px;
  }
}

@media screen and (max-width: 800px) {

  .submitButton {
    min-width: 100%;
  }
}

/* @media screen and  (max-width:427px) {
  .page-two{
    height: 450px;
  }
    
  } */

@media(max-width:472){
  .page_two .est-hrs label {
    font-size: 12px !important;
  }
}

  @media (max-width: 473px) {
    .page_two .est-hrs label {
      font-size: 11px !important;
    }
  }

.mw5 {
  max-width: 100% !important;
  width: 460px;
}

.page-one {
  height: 303px;
}

.ph4 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.w2 {
  width: 6rem !important;
  height: 6rem !important;
}

.bg-white-two {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  border: 2px solid #fff;
  padding: 45px 20px 100px !important;
}

.bg-white:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

h2 {
  font-weight: 500;
}

.divider,
.page_two .est-hrs {
  margin-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, .1);
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 20px;
  width: 100%;
  display: block;
  height: 100px;
  left: 20px;
  bottom: 0;
}

.divider label,
.page_two .est-hrs {
  color: #999;
  /* color: #08354e; */
  font-weight: 500;
  display: inline-block;
  margin-bottom: .5rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  margin-top: 40px;
}

.ba {
  border-width: 2px !important;
}

.pt5 {
  padding-top: 1rem !important;
}

.body-background {
  padding-bottom: 5rem;
}

.page-two {
  border: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  background-color: #fff;
}

.page-two:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}

.totals .total-cost {
  text-transform: uppercase;
}
